<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Master.master.cs" Inherits="pokedex_web.Master" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>Pokedex</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link runat="server" href="~/Content/Styles.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <asp:HyperLink runat="server" CssClass="navbar-brand" NavigateUrl="~/Paginas/Default.aspx">Pokedex Web</asp:HyperLink>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <asp:HyperLink runat="server" ID="lnkHome" CssClass="nav-link active" NavigateUrl="~/Paginas/Default.aspx">Home</asp:HyperLink>
                            <asp:HyperLink runat="server" ID="lnkPokemonList" CssClass="nav-link" NavigateUrl="~/Paginas/PokemonList.aspx">Lista de Pokemons</asp:HyperLink>
                        </div>
                        <div class="navbar-nav ms-auto">
                            <asp:HyperLink runat="server" ID="lnkLogin" CssClass="nav-link" NavigateUrl="~/Paginas/Login.aspx">Login</asp:HyperLink>
                            <asp:LinkButton runat="server" ID="lnkLogout" CssClass="nav-link" OnClick="lnkLogout_Click">Cerrar sesión</asp:LinkButton>
                            <asp:HyperLink runat="server" ID="lnkFormContact" CssClass="nav-link" NavigateUrl="~/Paginas/FormContacto.aspx">Contacto</asp:HyperLink>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="container">
                <hr/>
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>
            <footer></footer>
        </div>
    </form>
</body>
</html>
